.error {
    color :darkgray;
    background-color: brown;
    text-align: center;
    border-radius: 15px;
    padding:  5px,20px;
    margin-top: 20px ;
    margin: 0 auto;
    display: none;
    width: 400px;
}